* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, 
sans-serif;
    box-sizing: border-box;
}
/*header*/
header {
    width: 100%;
    height: 15vh;
    background: #5bd6c2;
    color: rgb(243, 236, 236);
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo-header {
    font-size: 50px;
    color: #0f1110;
    font-weight: 100;
    display: flex;
    align-items: center;
    letter-spacing: 10px;
}
.pulpo {
    margin-left: 50px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}
.menu a {
    color: rgb(17, 16, 16);
    text-transform: none;
    text-decoration: none;
    padding: 0 20px;
    transition: 0.4s;
    font-size: 20px;
    font-weight: 20;
    letter-spacing: 2px;
}
/*mostrar menu/esconder menu*/
.mostrar-menu,
.esconder-menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
    color: #0f1110;
}
.mostrar-menu {
    order: 1;
}
.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover {
    color: #f2f8f5;

}
#check {
    display: none;
}
/*broco-2*/
.caja-2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}
.foto-perfil {
    align-items: center;
    width: 250px;
    height: 300px;
    border-radius: 50%;
}
.ele {
    margin-left: 50px;
}
.ola {
    color: rgb(109, 88, 226);
    font-size: 25px;
    margin: auto;
    
}
.isaac {
    font-size: 30px;
    color: blue;
}
/*broco-3*/
.caja-habilidades {
    width: 100%;
    background-color: rgb(243, 215,178);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.hab {
    font-size: 70px;
    padding: 10px 21%;
}
.hab:hover {
    color: rgb(127, 151, 151);
    cursor: pointer;
}
.logo {
    width: 100px;
    height: 100px;
    margin: 40px;
    filter: drop-shadow( 0 0 9px rgb(68, 2, 2));
}
.logo:hover {
    transform: scale(1.3);
    transition: all 0.3;   
}
/*broco-4*/
.caja-contato {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.redes-sociales {
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 30px;
    filter: drop-shadow( 0 0 9px
    rgb(68, 2, 2));
}
.redes-sociales:hover {
    transform: scale(1.3);
    transition: all 0.3;
}
.contato { 
    font-size: 0px;
}
.contato:hover {
    color: rgb(214, 64, 14);
}

/*Formulario*/
.form {
    max-inline-size: 300px;
    border-style: solid;
    border-radius: 20px;
}
.tag {
    font-size: 2em;
    position: relative;
    margin-left: 50px;
}
.form label {
    display: block;
    margin-block-start: 1em;
    margin-block-end: .5em;
    padding-inline-start: .5em;
}
.form label span {
    color: #DA1414;
}
.form input, .form textarea {
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    padding: .8em;
    border-radius: .5em;
    border: 1px solid #858C94;
}
.form textarea {
    margin-block-end: 2em;
    font-family: inherit;
}
input::-webkit-input-placeholde {
    color: #0F0A0A88;
}
.btn-enviar {
    background-color: rgb(37, 58, 247);
    color: #fff;
    font-size: 1em;
    width: 10em;
    margin: 10px 70px;
    border-radius: 10px;
    height: 30px;
    cursor: pointer;
}

/*github api*/
.body {
    background-color: #0d1117;
    color: #fff;
}
h1 {
    text-align: center;
    margin: 20px auto;
}
a {
    text-decoration: none;
    color: #8b949e;
}
.content-main {
    margin: 30px;
}
.content-main .project {
    border: 1px solid #30363d;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    border-radius: 6px;
    margin: 20px;
}
.content-main .project div {
    display: flex;
    justify-content: space-between;
}
.content-main .project div .date-create {
    color: #8b949e;
    border: 1px solid #8b949e;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.9rem;
}
.content-main .project div .title {
    color: #47a6f0;
}
.content-main .project .language .circle {
    background-color: #47a6f0;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border: 1px solid #30363d;
    border-radius: 50%;
}

/* boton saber mais */
.saber-mais {
    font-size: 22px;
    position: absolute;
    margin: 200px 150px;
    width: 150px;
    height: 50px;
    border-radius: 10%;
    border-style: solid;
    background-color: #77f377;
    cursor: pointer;
}
.saber-mais:hover {
    background-color: #7ac57a;
    color: #fff;
}
/* boton cadastrese */
.cadastrese {
    width: 100px;
    height: 50px;
    border-style: solid;
    background-color: #77f377;
    border-radius: 10%;
    cursor: pointer;
    position: absolute;
    font-size: 22px;
    margin: 300px 150px;
    width: 200px;
    height: 50px;
}
.cadastrese:hover {
    background-color: #7ac57a;
}

@media(max-width: 765px){

      /*header*/
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }
    .mostrar-menu {
        margin-right: 20px;
    }
    .menu {
        position: fixed;
        width: 30%;
        height: 30vh;
        background-color:#6698e4;
        right: -100%;
        top: 0;
        padding: 50px 0px;
        z-index: 100;
        transition: 0.9s;
        border-radius: 10px;
    }
    .menu a{
        display: block;
        padding: 10px;
    }
    .esconder-menu {
        position: absolute;
        top: 10px;
        right: 20px;
    }
    #check:checked ~ .menu{
        right: 0;

    }
    .caja-2 {
        display: block;
        text-align: center;
        margin-top: 100px;
    }
    .logo-header {
        font-size: 30px;
        letter-spacing: 2px;
    }
    .pulpo {
        margin-left: 0px;
    }
    .logo {
        width: 60px;
        height: 60px;
    }
    .caja-habilidades {
        text-align: center;
    }
    .hab {
        font-size: 40px;
        background-color: #0f1110;
        color: #326abe;
        width: 100%;
        margin-bottom: 20%;
    }
    .caja-contato {
        display: block;
        background-color: darkseagreen;
    }
    .contato {
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #326abe;
        background-color: #0f1110;
        width: 100%;
    }
    .redes-sociales {
        display: none;
    }
    .contact {
        display: flex;
        justify-content: center;
        margin-top: 10%;

    }
    /*Formulario*/
    .contate-me {
        font-size: 25px;
    }
    .btn-enviar {
       height: 35px;
       display: flex;
       justify-content: center;
    }
    .saber-mais {
        margin: 20px 130px;
        border-color: rgb(224, 248, 177);
    }

}
