* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
/*header*/
header {
    width: 100%;
    height: 12vh;
    color: rgb(243, 236, 236);
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: linear-gradient(to right, #043941da 50px, #051036);  
    position: fixed;
    z-index: 100;
}
p {
    font-size: 20px;
    color: #d6e0e0;
}
.logo-header {
    font-size: 30px;
    color: #fbfdfc;
    font-weight: 100;
    display: flex;
    align-items: center;
    letter-spacing: 10px;
    filter: drop-shadow( 0 0 9px rgb(107, 100, 100));
}
.pulpo {
    margin-left: 50px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    filter: drop-shadow( 0 0 2px rgb(10, 2, 2));
}
.menu a {
    color: rgb(249, 244, 244);
    text-transform: none;
    text-decoration: none;
    padding: 0 20px;
    transition: 0.4s;
    font-size: 20px;
    font-weight: 20;
    letter-spacing: 2px;
    filter: drop-shadow( 0 0 5px rgb(217, 218, 230));
    letter-spacing: 5px;
}
/*mostrar menu/esconder menu*/
.mostrar-menu,
.esconder-menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
    color: #fff;
}
.mostrar-menu {
    order: 1;
}
.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover {
    color: rgb(0, 62, 220);
    transform: scale(1.3);
    transition: all 0.3;
}
#check {
    display: none;
}
/*broco-1*/
.caja-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(/extra/playa-16.jpg);
    /* background-size:100%; */
    background-position:center;
}
.foto-perfil {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    filter: drop-shadow( 0 0 2px rgb(10, 0, 0));
}
.caracte {

}
.ele {
    margin-left: 100px;
}
.ola {
    color: hwb(267 89% 8%);
    filter: drop-shadow( 0 0 5px rgb(9, 51, 149));
    font-size: 45px;
    margin: auto;
}
.isaac {
    font-size: 40px;
    color: rgb(134, 188, 226);
}
.descr {
    color: #d8e9d3;
}
/*broco-2*/
.caja-2 {
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: url(/extra/playa-15.jpg);
    background-size:100%;
    background-position:center;
}
.estudos{
    position: relative;
    left: 450px;
    top: 100px;
    color: #95a8ad;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    filter: drop-shadow( 0 0 5px rgb(217, 218, 230));
    width: 130px;
    height: 20px;
    letter-spacing: 4px;
}
.estudos:hover {
    color: rgb(31, 39, 39);
    cursor: pointer;
}
.encino{
    color: white;
    font-size: 20px;
    position: relative;
    left: 150px;
    top: 200px;
    line-height: 40px;
    letter-spacing: 3px;
    width: 1000px;
}
/*broco-3*/
.caja-habilidades {
    width: 100%;
    background-color: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(/extra/pez-1.jpg);
    background-size:100%;
    background-position:center;
}
.hab {
    font-size: 60px;
    color: #95a8ad;
    filter: drop-shadow( 0 0 5px rgb(217, 218, 230));
    letter-spacing: 4px;
}
.hab:hover {
    color: rgb(12, 13, 13);
    cursor: pointer;
}
/* broco-4 projetos */
.projetos {
    width: 100%;
    height: 85vh;
    background-image: url(/extra/playa.webp);
    background-position:center;
}
.pirata {
    position: relative;
    top: 150px;
    width: 350px;
    left: 50px;
}
.projet {
    top: 100px;
    width: 210px;
    position: relative;
    left: 550px;
    font-size: 50px;
    color: #fff;
    filter: drop-shadow( 0 0 5px rgb(217, 218, 230));
    letter-spacing: 4px;
}
.projet:hover {
    color: rgb(12, 13, 13);
    cursor: pointer;
}
/*broco-5 Contato*/
.caja-contato {
    display: flex;
    width: 100%;
    height: 15vh;
    align-items: center;
    background: linear-gradient(to top, #073b42 20px, #000);  
}
.redes-sociales {
    display: inline-flex;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 30px;
    filter: drop-shadow( 0 0 9px rgb(1, 13, 17));
}
.redes-sociales:hover {
    transform: scale(1.3);
    transition: all 0.3;
}
/* boton saber mais */
.saber-mais {
    font-size: 15px;
    position: relative;
    left: 600px;
    top: 10px;
    width: 120px;
    height: 40px;
    border-radius: 15%;
    border-style: solid;
    background-color: #1760ae;
    color: #fff;
    cursor: pointer;
    filter: drop-shadow( 0 0 3px rgb(1, 8, 17));
    background: linear-gradient(to right, #1b525a 50px, #010a12);  
}
.saber-mais:hover {
    background-color: #065306;
    color: #10f148;
}

/*github*/
.body {
    background-image: url(/extra/fondo-1.jpeg);
    background-size:100%;
    color: #fff;
}
h1 {
    text-align: center;
    margin: 20px auto;
    font-size: 45px;
    letter-spacing: 5px;
}

a {
    text-decoration: none;
    color: #8b949e;
}
.content-main {
    margin: 30px;
}
.content-main .project {
    border: 1px solid #30363d;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    border-radius: 6px;
    margin: 20px;
}
.content-main .project div {
    display: flex;
    justify-content: space-between;
}
.content-main .project div .date-create {
    color: #8b949e;
    border: 1px solid #8b949e;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.9rem;
}
.content-main .project div .title {
    color: #47a6f0;
}
.content-main .project .language .circle {
    background-color: #47a6f0;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border: 1px solid #30363d;
    border-radius: 50%;
}
@media(max-width: 980px){
          /*header*/
          .mostrar-menu,
          .esconder-menu{
              display: block;
          }
          .mostrar-menu {
              margin-right: 20px;
          }
          .menu {
              position: fixed;
              width: 30%;
              height: 40vh;
              background-color:#6698e4;
              right: -100%;
              top: 0;
              padding: 50px 0px;
              z-index: 100;
              transition: 0.9s;
              border-radius: 10px;
          }
          .menu a{
              display: block;
              padding: 10px;
          }
          .esconder-menu {
              position: absolute;
              top: 10px;
              right: 20px;
          }
          #check:checked ~ .menu{
              right: 0;
          }
          .saber-mais {
            left: 260px;
    }
    .encino {
        font-size: 15px;
        width: 700px;
    }
    .projet {
        left: 370px;
    }
        }

@media(max-width: 650px){

      /*header*/
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }
    .mostrar-menu {
        margin-right: 20px;
    }
    .menu {
        position: fixed;
        width: 30%;
        height: 40vh;
        background-color:#6698e4;
        right: -100%;
        top: 0;
        padding: 50px 0px;
        z-index: 100;
        transition: 0.9s;
        border-radius: 10px;
    }
    .menu a{
        display: block;
        padding: 10px;
    }
    .esconder-menu {
        position: absolute;
        top: 10px;
        right: 20px;
    }
    #check:checked ~ .menu{
        right: 0;
    }
    
    .logo-header {
        font-size: 30px;
        letter-spacing: 2px;
    }
    .pulpo {
        margin-left: 0px;
    }
    .logo {
        width: 60px;
        height: 60px;
    }
    .caja-1 {
        background-repeat: no-repeat;
    }
    .foto-perfil{
        position: relative;
        bottom: 80px;
        left: 50px;
        width: 150px;
        height: 150px;
    }
    .ele {
        position: relative;
        /* line-height: 25px; */
        right:100px;
        width: 150px;
    }
    .ola {
        position: relative;
        font-size: 25px;
        left: -35px;
        bottom: 50px;
    }
    .isaac {
        position: relative;
        right: 100px;
        font-size: 25px;
        bottom: 40px;
        color: #647deb;
    }
    .descr {
        font-size: 15px;
        right: 120px;
        width: 250px;
        bottom: 30px;
    }
    .caracte {
        position: relative;
        width: 70px;
        left: 90px;
        bottom: -50px;
    }
    .caja-2{
        background-repeat: no-repeat;
        /* height: 100vh; */
    }
    .encino {
        position: relative;
        left: 30px;
        top: 150px;
        font-size: 11px;
        width: 90%;
    }
    .caja-habilidades {
        display: flex;
        text-align: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
    }
    .hab {
        position: relative;
        font-size: 40px;
        color: #f3f4f5;
        width: 50%;
        top: 0px;
}
    .estudos {
        left: 35%;
        top: 100px;
        font-size: 40px;
}
    .projetos {
        background-repeat: no-repeat;
}
    .projet {
        position: relative;
        width: 10px;
        left: 35%;
        top: 120px;
        color: #000;
        font-size: 40px;
}
    .saber-mais {
        left: 80px;
}
    .redes-sociales {
        margin: 10px;
}
}


@media(max-width: 480px) {
          /*header*/
          .mostrar-menu,
          .esconder-menu{
              display: block;
          }
          .mostrar-menu {
              margin-right: 20px;
          }
          .menu {
              position: fixed;
              width: 30%;
              height: 40vh;
              background-color:#6698e4;
              right: -100%;
              top: 0;
              padding: 50px 0px;
              z-index: 100;
              transition: 0.9s;
              border-radius: 10px;
          }
          .menu a{
              display: block;
              padding: 10px;
          }
          .esconder-menu {
              position: absolute;
              top: 10px;
              right: 20px;
          }
          #check:checked ~ .menu{
              right: 0;
          }
    .caja-1 {
        background-image: url(/extra/playa-16.jpg);
        background-repeat: no-repeat;
    }
    .foto-perfil{
        position: relative;
        bottom: 50px;
        left: 40px;
        width: 110px;
        height: 110px;
    }
    .ele {
        position: relative;
        line-height: 16px;
        right:100px;
        width: 150px;
    }
    .ola {
        position: relative;
        font-size: 20px;
        left: -35px;
        bottom: 50px;
    }
    .isaac {
        position: relative;
        right: 100px;
        font-size: 20px;
        bottom: 40px;
        color: #647deb;
    }
    .descr {
        font-size: 12px;
        right: 100px;
        width: 200px;
        bottom: 30px;
    }
    .caracte {
        position: relative;
        width: 70px;
        left: 70px;
        bottom: -50px;
    }
    .caja-2{
        background-repeat: no-repeat;
        /* height: 100vh; */
    }
    .encino {
        position: relative;
        left: 30px;
        top: 150px;
        font-size: 11px;
        width: 90%;
    }
    .caja-habilidades {
        display: flex;
        text-align: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
    }
    .hab {
        position: relative;
        font-size: 40px;
        color: #f3f4f5;
        width: 50%;
        top: 0px;
}
    .estudos {
        left: 35%;
        top: 100px;
        font-size: 40px;
}
    .projetos {
        background-repeat: no-repeat;
}
    .projet {
        position: relative;
        right: 100px;
        top: 120px;
        color: #f3ebeb;
        font-size: 40px;
}
    .saber-mais {
        left: 20px;
}
    .redes-sociales {
        margin: 10px;
}
}